name: Contrast Security Smart Workflow POC

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, closed]
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  #issues: write
  #actions: read

jobs:
  call-contrast-orchestrator:
    name: Call Contrast Smart Orchestrator
    uses: contrast-security-app-test/dougj-smartfix-app-poc/.github/workflows/contrast-orchestrator.yml@main
    with:
      contrast_host: ${{ vars.CONTRAST_GITHUB_APP_HOST_URL }}
      contrast_org_id: ${{ vars.CONTRAST_GITHUB_APP_ORG_ID }}
      # Smartfix orchestration inputs
      contrast_app_id: ${{ vars.CONTRAST_GITHUB_APP_ID }}
      base_branch: ${{ github.event.repository.default_branch }}
      build_command: 'echo "No build command specified."'
      formatting_command: ''
      use_contrast_llm: 'false'
      max_open_prs: '5'
      aws_region: ''
      agent_model: ''
      azure_api_base: ''
      azure_api_version: ''
      enable_full_telemetry: 'true'
      debug_mode: 'false'
      # SCA orchestration inputs
      github_app_installation_id: ${{ vars.CONTRAST_GITHUB_APP_INSTALLATION_ID }}
      repo_url: ${{ github.server_url }}
      repo_name: ${{ github.repository }}
    secrets:
      CONTRAST_API_KEY: ${{ secrets.CONTRAST_GITHUB_APP_API_KEY }}
      CONTRAST_AUTHORIZATION_KEY: ${{ secrets.CONTRAST_GITHUB_APP_AUTH_HEADER }}
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
      AZURE_API_KEY: ${{ secrets.AZURE_API_KEY }}
      AWS_BEARER_TOKEN_BEDROCK: ${{ secrets.AWS_BEARER_TOKEN_BEDROCK }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
