name: Contrast Security Smart Workflow POC

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  call-contrast-orchestrator:
    name: Call Contrast Smart Orchestrator
    uses: contrast-security-app-test/dougj-smartfix-app-poc/.github/workflows/contrast-orchestrator.yml@main
    with:
      contrast_url: ${{ vars.CONTRAST_GITHUB_APP_HOST_URL }}
      contrast_org_id: ${{ vars.CONTRAST_GITHUB_APP_ORG_ID }}
      contrast_app_id: ${{ vars.CONTRAST_GITHUB_APP_ID }}
      github_app_installation_id: ${{ vars.CONTRAST_GITHUB_APP_INSTALLATION_ID }}
      repo_url: ${{ github.server_url }}
      repo_name: ${{ github.repository }}
      event_name: ${{ github.event_name }}
      event_path: ${{ github.event_path }}
      event_action: ${{ github.event.action || '' }}
      git_head_ref: ${{ github.event.pull_request.head.ref }}
      base_branch: ${{ github.event.repository.default_branch }}
      pr_was_merged: ${{ github.event.pull_request.merged || false }}
    secrets:
      CONTRAST_API_KEY: ${{ secrets.CONTRAST_GITHUB_APP_API_KEY }}
      CONTRAST_AUTHORIZATION_KEY: ${{ secrets.CONTRAST_GITHUB_APP_AUTH_HEADER }}
