name: Contrast Shared Orchestrator POC

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      contrast_url:
        required: true
        type: string
        description: The contrast url to connect to
      contrast_org_id:
        required: true
        type: string
        description: The contrast organization id
      contrast_app_id:
        required: true
        type: string
        description: The contrast application id
      github_app_installation_id:
        required: true
        type: string
        description: The contrast application id
      repo_url:
        required: false
        type: string
        description: The repository url
      repo_name:
        required: false
        type: string
        description: The repository name
      event_name:
        required: true
        type: string
        description: "The name of the github event that triggered the caller."
      event_path:
        required: true
        type: string
        description: "The path of the github event that triggered the caller."
      event_action:
        required: true
        type: string
        description: "The action of the github event that triggered the caller."
      git_head_ref:
        required: true
        type: string
        description: "The git ref that triggered the workflow."
      base_branch:
        required: true
        type: string
        description: "The default branch to use"
      pr_was_merged:
        required: false
        type: boolean
        default: false
        description: "Indicates if the PR was merged"
    secrets:
      CONTRAST_API_KEY:
        required: true
        description: The contrast API key
      CONTRAST_AUTHORIZATION_KEY:
        required: true
        description: The contrast authorization key

permissions:
  contents: write
  pull-requests: write
  issues: write
  actions: read

jobs:
  run-orchestrator:
    name: Run Config Orchestrator
    runs-on: ubuntu-latest
    outputs:
      smart-scan: ${{ steps.set-outputs.outputs.smart-scan }}
      smartfix: ${{ steps.set-outputs.outputs.smartfix }}
      smart-sca: ${{ steps.set-outputs.outputs.smart-sca }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Pull Contrast Orchestrator Image
        run: docker pull dougjeremias489/contrast-orchestrator

      - name: Run Contrast Orchestrator
        id: orchestrator
        shell: bash
        run: |
          docker run \
            dougjeremias489/contrast-orchestrator \
            --contrast_url "${{ inputs.contrast_url }}" \
            --contrast_org_id "${{ inputs.contrast_org_id }}" \
            --contrast_app_id "${{ inputs.contrast_app_id }}" \
            --api_key "${{ secrets.CONTRAST_API_KEY }}" \
            --authorization_key "${{ secrets.CONTRAST_AUTHORIZATION_KEY }}" 2>&1 | tee output.txt

      - name: Parse product flags and set outputs
        id: set-outputs
        shell: bash
        run: |
          json_output=$(cat output.txt | grep '{"Smart-Scan":' | head -1)
          smart_scan=$(echo "$json_output" | jq -r '."Smart-Scan"')
          smartfix=$(echo "$json_output" | jq -r '.SmartFix')
          smart_sca=$(echo "$json_output" | jq -r '."Smart-SCA"')

          echo "smart-scan=$smart_scan" >> $GITHUB_OUTPUT
          echo "smartfix=$smartfix" >> $GITHUB_OUTPUT
          echo "smart-sca=$smart_sca" >> $GITHUB_OUTPUT

#  get-app-token:
#    name: Get App Token
#    needs: run-orchestrator
#    runs-on: ubuntu-latest
#    outputs:
#      token: ${{ steps.app-token.outputs.token }}
#    steps:
#      - name: Generate GitHub App Token
#        id: app-token
#        uses: actions/create-github-app-token@v2
#        with:
#          app-id: ${{ secrets.SMARTFIX_APP_ID }}
#          private-key: ${{ secrets.SMARTFIX_APP_PRIVATE_KEY }}

  run-smart-scan:
    name: Run SmartScan
    needs: run-orchestrator
    if: ${{ needs.run-orchestrator.outputs.smart-scan == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Run Smart-Scan
        run: echo "Running Smart-Scan placeholder step!!"

  run-sca:
    name: Run Smart SCA
    needs: run-orchestrator
    if: ${{ needs.run-orchestrator.outputs.smart-sca == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Smart-SCA
        uses: docker://dougjeremias489/contrast-sca-cli
        env:
          CONTRAST_GITHUB_APP_TS_URL: ${{ inputs.contrast_url }}
          CONTRAST_GITHUB_APP_ORG_ID: ${{ inputs.contrast_org_id }}
          CONTRAST_GITHUB_APP_INSTALLATION_ID: ${{ inputs.github_app_installation_id }}
          CONTRAST_GITHUB_APP_API_KEY: ${{ secrets.CONTRAST_API_KEY }}
          CONTRAST_GITHUB_APP_AUTHORIZATION_KEY: ${{ secrets.CONTRAST_AUTHORIZATION_KEY }}
          GITHUB_SERVER_URL: ${{ inputs.repo_url }}
          GITHUB_REPOSITORY: ${{ inputs.repo_name }}

  run-smartfix:
    name: Run SmartFix
    needs: run-orchestrator
    if: ${{ needs.run-orchestrator.outputs.smartfix == 'true' }}
    uses: ./.github/workflows/smartfix.yml
    with:
      contrast_url: ${{ inputs.contrast_url }}
      contrast_org_id: ${{ inputs.contrast_org_id }}
      contrast_app_id: ${{ inputs.contrast_app_id }}
      event_name: ${{ inputs.event_name }}
      event_path: ${{ inputs.event_path }}
      event_action: ${{ inputs.event_action }}
      git_head_ref: ${{ inputs.git_head_ref }}
      base_branch: ${{ inputs.base_branch }}
      pr_was_merged: ${{ inputs.pr_was_merged }}
    secrets:
      CONTRAST_API_KEY: ${{ secrets.CONTRAST_API_KEY }}
      CONTRAST_AUTHORIZATION_KEY: ${{ secrets.CONTRAST_AUTHORIZATION_KEY }}
